<section>
  <div>
    <h1>Home</h1>
  </div>
  
  {{#each Posts as |Post|}}
  <article>
    <h2>
      <a href="/post/{{Post.id}}">{{Post.title}}</a>
    </h2>

    <div>
      <p>Created by: {{Post.user.name}}</p>
      <p>Created on: {{format_date Post.date_created}}</p>
    </div>
  </article>
  {{/each}}
</section>