<section>
  <div>
    <h1>Home</h1>
  </div>
  
  {{#each posts as |post|}}
  <article>
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>

    <div>
      <p class="bold-500">Created by: {{post.user.name}}</p>
      <p class="bold-500">Created on: {{format_date post.date_created}}</p>
    </div>
  </article>
  {{/each}}
</section>