<section class="height-100lh">
  <div>
    <div>
      <h2>Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="email-login" class="bold-500 text-black">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login" class="bold-500 text-black">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="form-group">
        
          <div class="center-container">
            <p>Don't have an account? <a href="/signup">Click here to sign up.</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>
