<article>
  <div>
    <h2 class="title">{{post.title}}</h2>
  </div>

  <div>
    <p class="content">{{post.content}}</p>
  </div>

  

  <div>
    <p>Created by: {{post.user.name}}</p>
    <p>Created on: {{format_date post.date_created}}</p>
  </div>
</article>
