<div>
  <h1>Profile</h1>

  <section>
    <h3>New Post</h3>

    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>

      {{!-- Image preview --}}
      <div class="image-preview-single">
        <img src="" alt="" />
        <input
          id="fileData"
          type="hidden"
          role="uploadcare-uploader"
          data-clearable="true"
          data-images-only="true"
          data-public-key="09da1b6a2310b78c7326"
        />
      </div>
      {{!-- /Image preview --}}

      <div>
        <label for="post-content">Content</label>
        <textarea id="post-content" name="post-content"></textarea>
      </div>
      
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </section>

  {{#if posts.length}}
  <section class="post-list">
    <h3>My Posts</h3>

    {{#each posts as |post|}}
    <article>
      <h2>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h2>

      <div>
        <p class="bold-500">Created on: {{format_date post.date_created}}</p>
      </div>

      <div>
        <button data-id="{{post.id}}">Delete Post</button>
      </div>
    </article>
    {{/each}}
  </section>
  {{/if}}
</div>

<script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_PUBLIC_KEY = "09da1b6a2310b78c7326";
  UPLOADCARE_TABS = "file url facebook gdrive gphotos dropbox instagram flickr onedrive";
</script>

<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<script type="module" src="/js/upload-widget.js"></script>

<script src="./js/profile.js"></script>
{{#if posts.length}}
<script src="./js/deletePost.js"></script>
{{/if}}